@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<body style="background-color:teal;">
    </body>

<div class="text-center">
    <h1  style="color:white;">Welcome to  Enterprise resource planning (ERP) </h1>

</div>
